<ul class="navbar-nav justify-content-end flex-grow-1">
    {% for category in categories %}
        <li class="nav-item category-nav">
            <a class="nav-link text-uppercase fw-bold category-link ps-2" href="{{ absolute_url(path('app_item_list', {categoryId: category.id}))}}">{{ category.name }}</a>
            <div class="category-border-hover"></div>
        </li>
    {% endfor %}
</ul>