{{ form_start(form, {method: 'POST', action: path('app_file_upload', {entityName: entityName, entityId: entityId}), attr: {'id': 'modalForm', class: 'row'}}) }}
    <div class="col-12 mb-3">
        {{ form_row(form.file) }}
        {% if file %}
            <div class="mt-2">
                <h6>Fichier actuel</h6>
                <div class="w-75 mx-auto border border-black bg-light p-2">
                    <img class="mw-100" src="{{ file_encoded(file) }}">
                </div>
            </div>
        {% endif %}            
    </div>
{{ form_end(form) }}