$transitionDuration: 0.5s;
$hundredPercent: 100%;
$primary: #004fc3;
$success: #1c5c3f;
$danger: #bf0d0d;
$black: #000;
$radiusDefault: 0;
$btn-border-radius: $radiusDefault;
$input-border-radius: $radiusDefault;
$input-border-radius-sm: $radiusDefault;
$input-border-color: $black;
$input-focus-box-shadow: 0 0 0 .25rem rgba($black, .25);
$input-focus-border-color: $black;
$card-border-radius: $radiusDefault;
$dropdown-border-radius: $radiusDefault;
$pagination-border-radius: $radiusDefault;
$form-select-focus-box-shadow: $input-focus-box-shadow;
$form-check-input-focus-box-shadow: $input-focus-box-shadow;
$form-check-input-border-radius: $radiusDefault;
$form-check-input-border: 1px solid $black;
$form-label-font-weight: 500;