$transitionDuration: 0.5s;
$hundredPercent: 100%;
$primary: #004fc3;
$success: #1c5c3f;
$danger: #bf0d0d;
$radiusDefault: 0;
$btn-border-radius: $radiusDefault;
$input-border-radius: $radiusDefault;
$input-border-radius-sm: $radiusDefault;
$card-border-radius: $radiusDefault;
$dropdown-border-radius: $radiusDefault;
$pagination-border-radius: $radiusDefault;