$transitionDuration: 0.5s;
$hundredPercent: 100%;
$primary: #004fc3;
$success: #1c5c3f;
$danger: #bf0d0d;
$btn-border-radius: 0;
$input-border-radius: 0;
$input-border-radius-sm: 0;
$card-border-radius: 0;
$dropdown-border-radius: 0;
$pagination-border-radius: 0;