@import '_variables.scss';
@import 'bootstrap/scss/bootstrap';
@import "~select2/dist/css/select2.css";

.color-title {
    background-image: linear-gradient(180deg, $white, $gray-500);
    background-size: $hundredPercent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.breadcrumb-position {
    padding-top: 4rem;
}

.list-result {
    height: 400px;
}

.item-list:hover {
    background-color: $primary;
    color: $white!important;
}

.navbar-link {
    color: $gray-600!important
}

.navbar-link:hover {
    color: $primary!important
}

.navbar-border-hover {
    border-bottom: 2px solid $primary;
    width: 0;
    transition: $transitionDuration;
}

.nav-item:hover > .navbar-border-hover {
    width: $hundredPercent;
}

.navbar-active {
    color: $primary!important;
}

.navbar-border-active {
    border-bottom: 2px solid $primary;
    width: $hundredPercent;
}

.breadcrumb-color {
    color: $primary!important;
}

.btn-sm {
    border-radius: $radiusDefault!important;
}