@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$transitionDuration: 0.5s;
$hundredPercent: 100%;
$colorLink: #004fc3;

.color-title {
    background-image: linear-gradient(180deg, $white, $gray-500);
    background-size: $hundredPercent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.eye-icon-white:hover {
    color: lightgray;
}

.category-link {
    font-size: 1.15rem!important;
    transition: $transitionDuration!important;
}

.category-link:hover {
    color: $colorLink!important;
}

.breadcrumb-position {
    padding-top: 4rem;
}

.category-border-hover {
    border-bottom: 2px solid $colorLink;
    width: 0;
    transition: $transitionDuration;
}

.category-nav:hover > .category-border-hover {
    width: $hundredPercent;
}

.list-result {
    height: 400px;
}

.item-list:hover {
    background-color: $gray-400;
    color: $colorLink!important;
}

.no-image {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
    width: 100%;
}
