@import '_variables.scss';

.dropdown-toggle::after {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) !important;
}

.dropdown-item:hover {
    background-color: $primary;
    color: #fff;
} 