{{ form_start(form, {method: 'POST', action: path('app_storage_type_add'), attr: {'id': 'modalForm', class: 'row'}}) }}
    <div class="col-12 mb-3">
        {{ form_row(form.name) }}
    </div>
{{ form_end(form) }}
