<form data-controller="datepicker" method="post" id="modalForm" class="row">
    <input type="hidden" id="state" name="state">
    <div class="col-12 received refunded send sold d-none">
        <label class="form-label" for="date">Date</label>
        <input type="text" class="form-control datepicker modalInput" id="date" name="date">
    </div>
    <div class="col-12 refundRequest d-none">
        <label class="form-label" for="reason">Raison du Remboursement</label>
        <textarea class="form-control modalInput" id="reason" name="reason" maxlength="255"></textarea>
    </div>
</form>